body {
    font-family: monospace;
    background-color: burlywood;
	text-align: center;
}

h1{
	padding: 10px;
	background-color: lavenderblush;
	margin: 10px;
	padding: 25px;
}

h2 {
    background-color: lightblue;
    border: 3px groove;
	padding: 10px;
}
h3 {
    background-color: lavenderblush;
	margin-bottom: 0px;
	padding: 10px;
	text-align: left;
}

main {
	margin: 0px 100px 0px 100px;
}

main p {
    background-color: lightblue;
    font-size: 16px;
	border-style: groove;
	margin-top: 0px;
	padding: 20px;
	text-align: left;
}

footer {
	border-style: groove;
	background-color: lavenderblush;
	padding: 10px;
	margin: 10px;
}
